@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">This is a simple site that lists contacts as well as maintain that list.</p>
    <p><a href="@Url.Action("Index", "Contact")" class="btn btn-primary btn-lg">List Contacts &raquo;</a></p>
</div>