@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Contacts Manager</h1>
    <p class="lead">
        This is a simple site that lists contacts as well as maintain that list. <br />
        Please ensure, developer, that you have run migrations correctly before <br />
        you attempt to use this application further. These can be found <br />
        <a href="https://msdn.microsoft.com/en-us/library/jj591621(v=vs.113).aspx" style="text-shadow:1px 1px #000" >under the heading Generating and Running Migrations</a>
    </p>
    <p><a href="@Url.Action("Index", "Contact")" class="btn btn-primary btn-lg">List Contacts &raquo;</a></p>
</div>