body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.round-button {
	width:6%;
}
.round-button-circle {
    width: 80px;
	padding-bottom: 10px;
    padding-top: 10px;
    border-radius: 6px;
    
    text-align:center;
    color:white;
    background: #127AA4; 
    border:none;
}
.round-button-circle:hover {  
	background:darkslategray;
}
.round-button a {
    display:block;
	float:left;
	width:100%;
	padding-top:35%;
    padding-bottom:50%;
	line-height:1em;
	margin-top:-0.5em;
    
	text-align:center;
	color:#e2eaf3;
    font-family:Verdana;
    font-size:0.8em;
    font-weight:bold;
    text-decoration:none;
}

.table-font {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size:14px;
    color:inherit;
    /*text-shadow:1px 1px grey;*/
}

.detail-background {
    background-color:white;
}

.jumbotron-contacts {
  background-image:url(img/deathtostock_wired2.jpg);
  padding-bottom:15px;
}

.jumbotron-details {
  background-image:url(img/deathtostock_creative-community9.jpg);
  padding-top:15px;
  padding-bottom:15px;
}

.jumbotron-create {
  background-image:url(img/deathtostock_creative-community4.jpg);
  padding-left:15px;
  padding-right:15px;
    padding-top:15px;
  padding-bottom:15px;
}

.table-header {
    color:cornflowerblue;
    font-size:16px !important;
}

.table-border {
    border:1px solid;
    padding-right:35px;
    padding-left:35px;
}

.underline {
    text-decoration:underline;
}
.bold {
    font-weight:bold;
}

.shadow {
    text-shadow:1px 1px black;
}

.page-subheading {
    color: #127AA4;
    font-weight:bold; 
    font-size: 28px;
    text-shadow:1px 1px black
}

.dark-slate-gray-text {
    color:darkslategray;
}

.dark-slate-gray-text:hover {
    color:white;
}

.edit-text-color {
    color:#ffffff;
    font-weight:500;
    padding-bottom:5px;
}

.details-text {
    color:#ffffff;
}

.padding-six {
    padding-bottom:6px;
}